*.iml
.gradle
/local.properties
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/changelogs/src/androidTest/
/changelogs/src/test/
/app/src/androidTest/
/app/src/test/
